/** @format */

:root {
	font-size: calc(12px + (16 - 14) * ((100vw - 400px) / (800 - 400)));
}

::selection {
	background-color: $secondary-color;
	color: $brand-white; /* WebKit/Blink Browsers */
}

body {
	background-image: $gradient-gray;
	font-family: 'Merriweather Sans', sans-serif;
	line-height: 1.5;
	overflow-x: hidden;
	margin: 0;
	padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: 'Lato', sans-serif;
}

h1 {
	font-size: 2rem;
	letter-spacing: 0.1rem;
	opacity: 0.7;
	border-bottom: 0.3rem solid rgba($secondary-color, 0.5);
	display: inline-block;
}

h2 {
	font-size: 1.8rem;
	letter-spacing: 0.1rem;
	font-weight: 300;
}

h3 {
	font-size: 1.5rem;
	font-weight: 300;
}

h4 {
	font-size: 1.2rem;
}

h5 {
	font-size: 1rem;
}

h6 {
	font-size: 0.8rem;
}

p {
	opacity: 0.8;
	font-size: 1rem !important;
}

blockquote p {
	font-size: 1.5rem !important;
}

hr {
	color: $secondary-color;
	opacity: 0.5;
	margin: $small 0 $small 0;
}

iframe {
	max-width: 100%;
}

.content {
	position: absolute;
	z-index: -1;
	top: 0;
	right: 0;
	width: 75%;
	min-height: 100vh;
	display: grid;
	grid-template-columns: repeat(2, minmax(200px, 1fr));
	grid-template-rows: minmax(min-content, max-content);
	padding: $small;
	padding-top: $small;
	background-color: $brand-gray;
	opacity: 1;
	grid-gap: $small;

	@media #{$tablet} {
		width: 100%;
		margin-top: $extraLarge;
	}

	@media #{$mobile} {
		grid-template-columns: repeat(1, minmax(200px, 1fr));
		background-color: $brand-white;
	}
}

.button {
	position: relative;
	padding: $tiny;
	border-radius: $brand-border-radius;
	border: 0;
	outline: 0;
	transition: $brand-transition;
	z-index: 1;

	&:hover {
		cursor: pointer;
		letter-spacing: 0.1rem;
		background-color: rgba($primary-color-light, 1);
	}

	&--primary {
		background-color: rgba($primary-color-light, 0.7);
		color: $brand-white;
	}

	&--secondary {
		border: 2px solid rgba($primary-color-light, 0.7);
		color: $primary-color-light;
		background-color: rgba($brand-white, 0);

		&:hover {
			color: $brand-white;
		}
	}

	&--secondary--mc {
		border: 2px solid rgba($primary-color-light, 0.7) !important;
		color: $primary-color-light !important;
		background-color: rgba($brand-white, 0) !important;

		&:hover {
			color: $brand-white !important;
			background-color: rgba($primary-color-light, 1) !important;
		}
	}
}

.test {
	opacity: 0.5;
	transition: $brand-transition;
}
