/** @format */

.header {
	position: fixed;
	display: flex;
	flex-direction: column;
	top: 0;
	left: 0;
	height: 100vh;
	width: 25%;
	border-right: 0.3rem solid rgba($primary-color-light, 0.5);
	background-image: $gradient-white;
	padding: 0 $small 0 $large;
	box-shadow: $shadow;

	@media #{$desktop} {
		padding: 0 $small 0 $small;
	}

	@media #{$tablet} {
		width: 100%;
		height: $extraLarge;
		flex-direction: column;
		align-items: center;
	}

	&__profile {
		position: relative;
		width: 100%;
		min-height: $extraLarge;
		background-color: rgba($brand-white, 0);
		overflow: hidden;
		margin-bottom: 2rem;

		@media #{$tablet} {
			z-index: 10;
			background-color: rgba($brand-white, 1);
			margin-bottom: 0;
		}
	}

	&__social {
		display: flex;
		justify-content: space-around;
		align-items: center;
		justify-items: center;
		padding: $tiny 0 0 0;
		transition: $brand-transition;
		border-top: 1px solid rgba($brand-black, 0.2);

		@media #{$tablet} {
			width: 100%;
			order: 1;
			transform: translateY(-200px);
			justify-content: space-around;
			padding: $tiny 0 $tiny 0;
			margin-top: $tiny;
		}

		&--active {
			transform: translateY(0);
			box-shadow: $shadow;
		}

		&__icon {
			width: $small;
			opacity: 0.5;
			transition: $brand-transition;

			&:hover {
				transform: scale(1.1);
				opacity: 0.7;
			}
		}
	}

	&__menu {
		transition: $brand-transition;
		margin-top: auto;

		@media #{$tablet} {
			transform: translateY(-200px);
			margin-top: $tiny;
		}
		&--active {
			transform: translateY(0);
			box-shadow: $shadow;
		}
	}
}

.header > * {
	@media #{$tablet} {
		background-image: $gradient-white;
	}
}

.profile {
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;

	&__blurb {
		opacity: 0.7;
		margin: $tiny 0 0 0;
		font-weight: 300;

		@media #{$tablet} {
			display: none;
		}
	}

	&__title {
		border-top: 1px solid rgba($brand-black, 0.8);
		border-bottom: 1px solid rgba($brand-black, 0.8);
		margin-top: $small;
		margin-bottom: 0;

		@media #{$mobile} {
			align-self: start;
		}
	}

	&__headshot {
		max-height: 10rem;
		margin-bottom: $small;
		margin-top: $tiny;
		//border-radius: 50%;

		@media #{$tablet} {
			display: none;
		}
	}
}

.menu {
	width: 100%;

	&__list {
		display: flex;
		flex-direction: column;
		position: relative;
		border-top: 1px solid rgba($brand-black, 0.2);
		padding: $tiny 0 0 0;

		@media #{$tablet} {
			flex-direction: row;
			justify-content: space-around;
			border-top: none;
			flex-wrap: wrap;
		}
	}

	&__link {
		margin-bottom: 0.5rem;
		list-style-type: circle;
		transition: $brand-transition;
		opacity: 0.7;

		&:hover {
			letter-spacing: 0.1rem;
			cursor: pointer;
			opacity: 1;

			&::marker {
				color: $primary-color-light;
				list-style-type: disc;
			}
		}

		@media #{$tablet} {
			list-style-type: none;
			margin-bottom: 0;
		}
	}
}

.button--hamburger {
	opacity: 0.5;
	position: absolute;
	top: 2.2rem;
	right: 1rem;
	height: 20px;
	width: 10px;
	outline: 0;
	border-top: 2px solid $brand-black;
	border-bottom: 2px solid $brand-black;
	border-left: 0;
	border-right: 0;
	background-color: $brand-white;
	display: none;

	@media #{$tablet} {
		display: block;
	}

	&::before {
		content: '';
		width: 100%;
		height: 2px;
		position: absolute;
		left: 0;
		bottom: 6.5px;
		background-color: $brand-black;
	}

	&:hover {
		opacity: 0.9;
		cursor: pointer;
	}
}
