/** @format */

$primary-color: rgb(0, 85, 78);
$primary-color-dark: rgba(0, 61, 56, 1);
$primary-color-light: rgba(2, 199, 182, 1);
$secondary-color: rgba(255, 108, 100, 1);
$brand-white: rgba(228, 254, 252, 1);
$brand-gray: rgba(243, 238, 235, 1);
$gradient-white: radial-gradient(circle, #ffffff, #fffdfe, #fffbfb, #fefaf7, #fbf9f4);
$gradient-gray: linear-gradient(to right bottom, #f3eeeb, #f6e9e1, #fae5d8, #fce0ce, #ffdbc5);

$shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);

$tiny: 1rem;
$small: 2rem;

$large: 5rem;
$extraLarge: 8rem;
